div#header
	div.row
		div.ten.columns
			h1 #{title}
		div.two.columns#userbox
			h5  #{ user.name }
			a log out
		
	div.row.hide-for-small#nav
		div.nine.columns
			ul.nav-bar#options
				li
					a(href="#") ALL RESOURCES
				li
					a(href="#") YOUR CONTRIBUTIONS
				li
					a(href="#") STARRED
				li
					a(href="#") INSTRUCTOR POSTS
		div.two.columns
			ul.nav-bar
				li.has-flyout#courselist
					a(href="#") COURSES
					a(href="#", class="flyout-toggle")
						span
					ul.flyout
						each i in courses 
							li.courses
								a(href="#") #{i}
div.row#contents
	div.three.columns
		div.innercontents
			form(name="add_article", action="/",enctype="multipart/form-data", method="post", onsubmit="return validateForm()", style="margin-bottom : 0", class="custom")
				label Share a resource!
				input(name="article_url",type="text", id="article_url", placeholder="http://")
				input(name="article_comment", type="text", id="article_comment", placeholder="Type in a comment")
				div.row
					div.selectcourse
						select(class="customDropdown", name="article_course", value="select a course")
							each i in courses
								option #{i}
					div.submit
						input(type="submit", value="add", class="small button")
	- var counter = 0 
	each name , course in user.courses
		- var coursename = course
		each article in name
			div.three.columns
				div.innercontents
					span #{coursename}
					h5 #{article.title}
					div.articlepreview(id = "preview_#{counter}")
					script(type='text/javascript')
						$('div#preview_#{counter}').load("#{article.path} p");
					
					- counter = counter +1	
				
	
